//variables en general 
$mainColor: rgb(235, 33, 108);
$botoneraColor: rgba(255, 177, 205, .9);
$titulosColor: #5c283b;
$gradienteColor: #c54f7a;
$subtitulosColor: rgb(216, 65, 120);
//variables medidas
$w-200: 200px;